body {
    padding-bottom: 1000px;
}

h4 {
    background-color: black;
    color: orange;
    font-size: 40px;
}

/* h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.294);
    text-align: center;
    background-color: lightgray;
    height: auto;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.459);
    border-radius: 10px;
} */